<h3>Badges</h3>
<div class="col-xs-4">
    <a href="#">
        <div class="badge-card card">
            <i class="fa fa-free-code-camp fa-3x" aria-hidden="true"></i>
        </div>
    </a>
</div>

<div class="col-xs-4">
    <a href="#">
        <div class="badge-card card">
            <i class="fa fa-free-code-camp fa-3x" aria-hidden="true"></i>
        </div>
    </a>
</div>

<div class="col-xs-4">
    <a href="#">
        <div class="badge-card card">
            <i class="fa fa-free-code-camp fa-3x" aria-hidden="true"></i>
        </div>
    </a>
</div>