<div class="card container">
    <div class="row header-row">
        <div class="col-md-4">
            <img class="img-responsive img-card" src="/images/army-shot.jpg" alt="profile image">
        </div>
        <div class="col-md-8 header-col">
            <div class="header-container">
                <h1>Josh Murphy</h1>
                <h4>Full Stack Developer</h4>
                <ul class="header-list">
                    <li class="header-list-item"><a class="header-link" target="_blank" href="#">FB</a></li>
                    <li class="header-list-item"><a class="header-link" target="_blank" href="#">Linkdin</a></li>
                    <li class="header-list-item"><a class="header-link" target="_blank" href="#">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row about-row">
        <app-about></app-about>
    </div>
</div>