<div class="card container">
    <div class="row header-row">
        <div class="col-md-4">
            <img class="img-responsive img-card" src="/images/about/kayak.jpg" alt="profile image">
        </div>
        <div class="col-md-8 header-col">
            <div class="header-container">
                <h1 class="home-header">Josh Murphy</h1>
                <h4 class="home-subheader">Full Stack Web Developer</h4>
                <ul class="header-list">
                    <li class="header-list-item"><a class="header-link" target="_blank" href="https://www.facebook.com/RookieGuru"><i class="header-fa fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li class="header-list-item"><a class="header-link" target="_blank" href="https://www.linkedin.com/in/joshua-murphy-9887b6131/"><i class="header-fa fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                    <li class="header-list-item"><a class="header-link" target="_blank" href="https://github.com/JoshMurph316"><i class="header-fa fa fa-github-square" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>


    <app-about></app-about>

</div>