<div class="row about-row">

    <div class="col-md-6 about-info">
        <p class="about-text">Web Design and Development</p>
        <p class="about-text">Icon and Logo Design</p>
        <p class="about-text"><a class="contact-btn" [routerLink]="['/contacts']">Contact</a> me for help on a project.</p>
        <a class="more-about" [routerLink]="['/more-about']">...more</a>
    </div>

    <div class="col-md-6 about-info">
        <ul>
            <li class="info-item"><i class="info-fa main-color fa fa-map-marker" aria-hidden="true"></i>New Jersey, <span class="main-color">USA</span></li>
            <li class="info-item"><i class="info-fa main-color fa fa-envelope" aria-hidden="true"></i><span class="reverse">moc.hsoJveDbeW@yhpruMhsoJ</span></li>
            <li class="info-item"><i class="info-fa main-color fa fa-phone" aria-hidden="true"></i><span class="reverse">5611-775-237</span></li>
            <li class="info-item"><i class="info-fa main-color fa fa-check" aria-hidden="true"></i>available</li>
        </ul>
    </div>

</div>