body {
    padding: 4%;
    background-color: #e6e6e6;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 25px;
    background-color: #fff;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.resume-btn-container {
    padding: 20px 0 5px 15px;
}

.resume-btn {
    padding: 15px;
    background-color: lightgrey;
    color: #000;
}

.resume-btn:hover {
    text-decoration: none
}