.services-row {
    padding: 4%;
}

.service-container {
    text-align: center;
    padding: 5px;
}

.service-info {
    font-size: 2em;
    font-family: 'Aldrich', sans-serif;
    padding: 20px;
}

.service-subinfo {
    font-size: 1.6em;
    font-family: 'Oxygen', sans-serif;
    padding: 10px;
}

.service-description {
    color: grey;
}