<div class="card container">
    <div class="header-rows row">
        <h1 class="main-headers">Resume</h1>
    </div>

    <div class="exp-row row">

        <app-experience></app-experience>

    </div>

    <div class="row">

        <div class="skills-col col-md-6">
            <app-skills></app-skills>
        </div>
        <div class="skills-col col-md-6">
            <app-badges></app-badges>
        </div>

    </div>


    <div class="resume-btn-container">
        <a class="resume-btn" href="#"><i class="fa fa-download" aria-hidden="true"></i> Full Resume</a>
    </div>
</div>