<div class="card container">
    <h1>Resume</h1>
    <div class="row">
        <div class="col-md-6">
            <h3>Education</h3>
            <div class="row">
                <div class="resume-card">
                    <h4>Spec Course Name</h4>
                    <p>date</p>
                    <p>where</p>
                    <p>Short Description, Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Experience</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Design Skills</h3>
        </div>
        <div class="col-md-6">
            <h3>Coding Skills</h3>
        </div>
    </div>
    <div class="resume-btn-container">
        <a class="resume-btn" href="#">Download Resume</a>
    </div>
</div>