<div class="resume-card card container">

    <div class="resume-header">
        <h1>Resume</h1>
    </div>

    <div class="row">

        <app-experience></app-experience>

    </div>

    <div class="row">

        <div class="col-md-6">
            <app-skills></app-skills>
        </div>

        <div class="col-md-6">
            <app-badges></app-badges>
            <app-badges></app-badges>
        </div>

    </div>

    <div class="row">
        <div class="resume-btn-container">
            <a class="resume-btn" href="#">Download Full Resume</a>
        </div>
    </div>

</div>