<div class="card container">

    <div class="header-rows row">
        <h1>More About Me !?</h1>
        <p class="subheader">( You Sure ? )</p>
    </div>

    <div class="main-rows row ">

        <div class="image-col col-md-6">
            <img class="img-responsive" src="/images/about/zip-line.jpg" alt="zip lining in CO pic">
        </div>
        <div class="text-col col-md-6">
            <p class="main-text">After highschool I had no desire to go to college. But it didn't take long for me to start feeling like a bum.</p>
            <p class="main-text">So, not wanting to be a bum I decided to join the Army. The army made me grow up a lot faster than if I had stayed home. Lucky for me the army has a quiet community of nerds like myself, so I didn’t have to grow up too fast.</p>
        </div>

    </div>
    <div class="row mid-rows">

        <div class="col-md-12">
            <p class="mid-text">I’ve always been involved with technology, growing up an only child I spent a lot of time in front of screens.</p>
        </div>

    </div>
    <div class="row main-rows">

        <div class="text-col col-md-6">
            <p class="main-text">After the army I came back to New Jersey and immidiatly started feeling like a bum again. So, not wanting to be a bum I decided to get my Comp Sci degree.</p>
            <p class="main-text">I also got a job as a Client Reporting Analyst. This was a great job because it pushed me to learn a lot about MS Access and Execl. I had to teach myself on my off time in order to keep up with the guys on my team.</p>
        </div>
        <div class="image-col col-md-6">
            <img class="img-responsive" src="/images/about/army-shot.jpg" alt="more about me image">
        </div>

    </div>
    <div class="row mid-rows">

        <div class="col-md-12">
            <p class="mid-text">This is when I realized you can learn absolutly anything if you have google and determination.</p>
        </div>

    </div>
    <div class="row main-rows">

        <div class="image-col col-md-6">
            <img class="img-responsive" src="/images/about/boys-ethel.jpg" alt="some image">
        </div>
        <div class="text-col col-md-6">
            <p class="main-text">So, I started learning code on my own and was hooked immediately. I’m currently attending school full-time but I’ve recently decided to leave my job.</p>
        </div>

    </div>
    <div class="footer-rows row">

        <div class="col-md-12">
            <p class="mid-text">I'm devoting all my time to developing because I know this is what I want to spend my life doing.</p>
        </div>

    </div>
</div>