<div class="col-md-6">

    <div class="e-item-container">
        <div class="e-item" *ngFor="let exp of experience">
            <h4 class="e-name">{{ exp.name }}</h4>
            <p class="e-date">{{ exp.date }}</p>
            <p class="e-where">{{ exp.where }}</p>
            <p class="e-description">{{ exp.description }}</p>
        </div>
    </div>

</div>

<div class="col-md-6">

    <div class="e-item-container">
        <div class="e-item" *ngFor="let edu of education">
            <h4 class="e-name">{{ edu.name }}</h4>
            <p class="e-date">{{ edu.date }}</p>
            <p class="e-where">{{ edu.where }}</p>
            <p class="e-description">{{ edu.description }}</p>
            <a class="e-cert" *ngIf="edu.certification != '#'" target="_blank" href="{{ edu.certification }}">cert</a>
        </div>
    </div>

</div>