<form (submit)="onEmailSubmit()">

    <div class="input-border">
        <i class="fa-input fa fa-user-circle-o" aria-hidden="true"></i>
        <label for="name"></label>
        <input class="input-control" [(ngModel)]="name" name="name" type="text" id="name" required placeholder="name">
    </div>

    <div class="input-border">
        <i class="fa-input fa fa-envelope" aria-hidden="true"></i>
        <label for="email"></label>
        <input class="input-control" [(ngModel)]="email" name="email" type="email" id="email" required placeholder="email">
    </div>

    <div class="input-border">
        <i class="fa-input fa fa-commenting" aria-hidden="true"></i>
        <label for="message"></label>
        <textarea class="input-control input-message" [(ngModel)]="message" name="message" type="text" id="message" placeholder="...message"></textarea>
    </div>

    <div class="radio-container">
        <label [ngClass]="{active: radio === 'job'}" class="radio-btn">
                    <input class="radio-input" (click)="onRadio('job')" type="radio" name="options" id="option1" autocomplete="off">
                    Position</label>
        <label [ngClass]="{active: radio === 'project'}" class="radio-btn">
                    <input class="radio-input" (click)="onRadio('project')" type="radio" name="options" id="option2" autocomplete="off" checked>
                    Project</label>
    </div>

    <div class="btn-container">
        <button class="input-submit" type="submit">Submit</button>
    </div>

</form>